body {
	background-color: #121212;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
  	text-align: center;
}

p {
	color: #A0A0A0;
}

a:hover {
	border-color: #b38aff	;
	filter: brightness(1.2);
}

header {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #1a1a1a;
    border: 1px solid #D4AF37;
}

/*Menu*/

.menu {
	margin: 0;
    padding: 0;
    display: flex;
    
}

.menu li {
	list-style-type: none;
	margin: 5px;
	display: inline-block;
}

.menu a {
	background-color: transparent;
	color: #D4AF37;
	padding: 8px 15px;
	border: 1px solid #D4AF37;
	text-decoration: none;
}

.menu a:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}

.voltar {
	text-align: left;
}

.voltar a {
	background-color: transparent;
	color: #D4AF37;
	padding: 8px 15px;
	border: 1px solid #D4AF37;
	text-decoration: none;
}

.voltar a:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}

/*Artista*/

.content {
	display: flex;
	gap: 20px;
	margin-top: 10px;
	align-items: flex-start;
}

.Artist {
    background-color: #1D1D1D;
    padding: 15px;
    border: 1px solid #D4AF37;
    border-radius: 8px;
	flex: 0 0 350px;
}

.Artist img {
    width: 325px;
    height: 325px;
    border-radius: 4px;
}

.Sobre {
	flex: 1;
    background-color: #1D1D1D;
    border: 1px solid #D4AF37;
    padding: 15px;
    border-radius: 8px;
    color: #A0A0A0;
}